@page "/"
@using Blazor.Extensions.Canvas.Canvas2D;
@using Blazor.Extensions;

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<BECanvas Width="300" Height="400" @ref="_canvasReference"></BECanvas>

@code{
    protected BECanvasComponent _canvasReference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        using (Canvas2DContext _context = await _canvasReference.CreateCanvas2DAsync())
        {
            await _context.SetFillStyleAsync("green");
            await _context.SetLineWidthAsync(2.0f);

            await _context.FillRectAsync(10, 100, 100, 100);

            await _context.SetFontAsync("48px serif");
            await _context.StrokeTextAsync("Hello Canvas!!!", 10, 100);
        }
    }
}